@import url('https://fonts.googleapis.com/css?family=Pridi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:700&display=swap');
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
}

.eng {
    font-family: 'Cabin', sans-serif !important;
}

.navbar {
    letter-spacing: 1px;
    text-shadow: 2px 2px #000;
    background: transparent !important;
    font-family: 'Kanit', sans-serif;
}

.shadow-b {
    letter-spacing: 1px;
    font-weight: bolder;
    text-shadow: 2px 2px #000;
    font-family: 'Kanit', sans-serif;
}

.shadow-w {
    letter-spacing: 1px;
    font-weight: bolder;
    text-shadow: 2px 2px #FFF;
    font-family: 'Kanit', sans-serif;
}

.detail {
    width: 50%;
    margin-top: 200px;
    letter-spacing: 1px;
    font-weight: bolder;
    text-shadow: 2px 2px #000;
    font-family: 'Kanit', sans-serif;
}

.site1{
    height: 100%;
    width: 100%;
    padding-top: 10px;
    background: url("./pic/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slide-1{
    padding-top: 10px;
    padding-bottom: 50px;
}

.site2{
    padding-top: 10px;
    padding-bottom: 50px;
}

.site3{
    padding-top: 10px;
    padding-bottom: 50px;
}

.footer {
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    color: white;
    text-align: center;
}

.cardd{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 300px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 30px #555;
}

.card .front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: .4s;
}

.card .front:after{
    position: absolute;
    right: -66px;
    top: 6px;
    transform: rotate(45deg);
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: .4s;
}

.card:hover .front:after{
    opacity: 0;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    color: #fff;
    padding: 5px;
    display: table;
    opacity: 0;
    transition: .4s;
    transform: translateY(100%);
}

.card .front .title-front-card{
    background: whitesmoke;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s;
    
}

.back span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.back span ul{
    padding-left: 0;
}
.back span ul li{
    display: inline-block;
    font-size: 32px;
    margin: 10px
}

.card:hover .back{
    opacity: 1;
    transform: translateY(0);
    background: rgba(0,0,0,0.8);
}

.card:hover .front{
    transform: scale(1.15);
}
.card:hover .title-front-card{
    opacity: 0;
}

.slide{
    height: 90%;
    width: 100%;
}

.slide img{
    border-radius: 5%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.carousel{
    margin-top: 50px;
}

.carousel-item img{
    border-radius: 40px !important; 
}

.head{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.border1{
    border: 5px solid white;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.our-team{
  padding: 20px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

@media all and (max-width: 1200px) {
    /* start of large styles */
    .detail {
        width: 50%;
        margin-top: 120px;
    }
}

@media all and (max-width: 991px){
    /* start of large tablet styles */
    .detail {
        width: 50%;
        margin-top: 50px;
    }
    .text-slide{
        margin-top: 30px;
    }
}

@media all and (max-width: 767px){
    /* start of medium tablet styles */
    .site1{
        height: auto;
    }
    .detail {
        width: 100%;
        margin-top: 50px;
    }
    .text-slide{
        margin-top: 30px;
    }
}

@media all and (max-width: 479px){
    /* start of phone styles */
    .site1{
        height: auto;
    }
    .detail {
        width: 100%;
        margin-top: 50px;
    }
    .text-slide{
        margin-top: 30px;
    }
}